# GitHub CLI login token
GH_TOKEN=

# Vercel CLI login token
VERCEL_TOKEN=

# Supabase CLI login token
SUPABASE_ACCESS_TOKEN=

# Notion CLI login token
NOTION_API_TOKEN=

# Browserless API token for screenshots
BROWSERLESS_TOKEN=

# Firecrawl API key
FIRECRAWL_API_KEY=
