@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cause:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Tap highlight color removed globally. To undo: remove the property below */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-feature-settings: "cv01" 1, "cv02" 1, "cv03" 1, "cv04" 1, "cv05" 1, "cv06" 1, "cv11" 1, "cv12" 1, "cv13" 1 !important;
  font-feature-settings: "cv01" 1, "cv02" 1, "cv03" 1, "cv04" 1, "cv05" 1, "cv06" 1, "cv11" 1, "cv12" 1, "cv13" 1 !important;
}
